{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->

    <title>Notepik - Take note quickly</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/bootstrap.min.css' %}" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'landing/font-awesome/css/font-awesome.min.css' %}" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'landing/css/animate.min.css' %}" type="text/css">

    <!-- Custom CSS Theme-->
    <link rel="stylesheet" href="{% static 'landing/css/creative.css' %}" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Notepik</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li>-->
                        <!--<a class="page-scroll" href="#about">About</a>-->
                    <!--</li>-->
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <!--<li>-->
                        <!--<a class="page-scroll" href="#portfolio">Gallery</a>-->
                    <!--</li>-->
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="call-to-action" href="#" role="button">Download</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Fast note taking</h1>
                <hr>
                <p>You just need a key for your vault to start taking notes!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Lorem Ipsum!</h2>
                    <hr class="light">
                    <p class="text-faded">Adipisicing unde ut officiis rerum explicabo sapiente? A architecto repudiandae exercitationem totam commodi, repudiandae! Sit exercitationem quibusdam nulla quia id quis officia. Eum odio modi dignissimos ut sunt? Architecto praesentium.</p>
                    <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-user-times wow bounceIn text-primary"></i>
                        <h3>No Account Required</h3>
                        <p class="text-muted">You only need a powerful key.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-archive wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Vault</h3>
                        <p class="text-muted">You can view all of your notes. You just need your key.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Notes Feed</h3>
                        <p class="text-muted">Real time feed of others' notes available for public (You can turn off this for private use).</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-floppy-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Save, Share</h3>
                        <p class="text-muted">Share your notes via your vault link! (Vault link will reset every day) and save your notes as pdf file!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="howtouse">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <img src="{% static 'landing/img/placeholder3.png' %}" class="img-responsive" alt="">
                </div>
                <div class="details col-sm-5">
                    <h3>Consectetur consequatur fuga.</h3>
                    <p>Adipisicing possimus nemo dolor corporis totam perspiciatis debitis quas. Earum nisi suscipit eveniet magni omnis voluptate illum ratione consequatur enim quaerat possimus, eaque.</p>
                </div>
            </div>
            <div class="row">
                <div class="details col-sm-5">
                    <h3>Consectetur consequatur fuga.</h3>
                    <p>Adipisicing possimus nemo dolor corporis totam perspiciatis debitis quas. Earum nisi suscipit eveniet magni omnis voluptate illum ratione consequatur enim quaerat possimus, eaque.</p>
                </div>
                <div class="col-sm-7">
                    <img src="{% static 'landing/img/placeholder3.png' %}" class="img-responsive" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <img src="{% static 'landing/img/placeholder3.png' %}" class="img-responsive" alt="">
                </div>
                <div class="details col-sm-5">
                    <h3>Consectetur consequatur fuga.</h3>
                    <p>Adipisicing possimus nemo dolor corporis totam perspiciatis debitis quas. Earum nisi suscipit eveniet magni omnis voluptate illum ratione consequatur enim quaerat possimus, eaque.</p>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Elit dolorum provident consectetur laudantium ratione totam.</h2>
                <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Consectetur qui deleniti provident quaerat corporis. Quae ab quidem earum vero veritatis, eius quibusdam consequuntur.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@domain.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static 'landing/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'landing/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'landing/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'landing/js/jquery.fittext.js' %}"></script>
    <script src="{% static 'landing/js/wow.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'landing/js/creative.js' %}"></script>

</body>
</html>
